<ion-content class="fondo">
  <ion-card color="warning">
    <ion-card-header>
      <img src="../../assets/icon/1698321781740.png" alt="">
    </ion-card-header>
  </ion-card>
  
  <ion-input class="my-custom-input" label="Servicio" label-placement="floating" fill="outline" placeholder="Ingresar Nombre" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" label="Codigo Servicio" label-placement="floating" fill="outline" placeholder="Ingresar Codigo" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" label="Descripcion servicio" label-placement="floating" fill="outline" placeholder="Ingresar Descripcion" style="--color: black; --border-width: 2px;"></ion-input>

  <br />


  <ion-button>Registrar Servicio</ion-button>
  
  </ion-content>
