
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Servicios Más Vendidos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card *ngFor="let servicio of servicios">
      <ion-img [src]="servicio.imagen" alt="Servicio"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ servicio.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ servicio.descripcion }}
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" color="primary" routerLink="/home">Volver</ion-button>
  </ion-content>
  
