<ion-content class="fondo">
  <ion-card color="warning">
    <ion-card-header>
      <img src="../../assets/icon/1698321781740.png" alt="">
    </ion-card-header>
  </ion-card>

  <ion-input class="my-custom-input" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar Proveedor" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" label="Numero de Telefono" label-placement="floating" fill="outline" placeholder="Ingresar numero de telefono" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" label="Direccion" label-placement="floating" fill="outline" placeholder="Ingresar Direccion" style="--color: black; --border-width: 2px;"></ion-input>

  <br />

  <ion-button  color="primary" (click)="registrarProveedor()">Registrar Proveedor</ion-button>
</ion-content>
