<ion-header>
  <ion-toolbar>
    <ion-title>
      Admin Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="servicios.length > 0">
    <ion-item *ngFor="let servicio of servicios">
      {{ servicio }}
      <ion-button slot="end" color="danger" (click)="eliminarServicio(servicio)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input placeholder="Nuevo Servicio" [(ngModel)]="nuevoServicio"></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="agregarServicio()">Agregar Servicio</ion-button>
  <ion-button expand="full" color="medium" routerLink="/home">Volver</ion-button>

</ion-content>
